@font-face {
  font-family: "DragonHunter";
  src: url(fonts/DragonHunter.otf);
}
* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "DragonHunter";
}
.container {
  background-image: url(animation-img/background2.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
#leftCharactor {
  position: absolute;
  bottom: 30px;
  height: 390px;
  left: 0px;
}
#rightCharactor {
  position: absolute;
  bottom: 30px;
  height: 330px;
  right: 80px;
}
#timer {
  color: white;
  margin: 0 auto;
  font-size: 6em;
  text-align: center;
  color: #fe6a03;
}
#poster {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 33;
  transition: 3s;
}
.leftContainer,
.rightContainer {
  display: flex;
  position: absolute;
  top: 2%;
  width: 40%;
}

.leftContainer {
  left: 1%;
}
.rightContainer {
  right: 1%;
}

.leftContainer > img,
.rightContainer > img {
  width: 50px;
  border-radius: 25px;
  position: fixed;
}

#leftHealt,
#rightHealt {
  width: 80%;
  padding: 25px;
  margin: 0 10px;
}
#rightHealt {
  background: linear-gradient(#55680d, #71f53e, #116c31);
  border-radius: 30px;
}
#leftHealt {
  background: linear-gradient(#55680d, #71f53e, #116c31);
  border-radius: 30px;
}

#leftBtn,
#rightBtn {
  width: 120px;
  position: absolute;
  top: 12%;
}
#rightBtn {
  right: 3%;
  width: 80px;
}
#leftBtn {
  left: 3%;
}
